<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @curriculum.name %>
</p>

<p>
  <strong>Registration code:</strong>
  <%= @curriculum.registration_code %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @curriculum.start_time %>
</p>

<p>
  <strong>Period:</strong>
  <%= @curriculum.period %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @curriculum.teacher %>
</p>

<%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%= link_to 'Back', curriculums_path %>
